
#headerBackground{
  width: 100%;
  height: 200px;
  background-color: #99A1A6;
}

.headGroup{
  height: 200px;
  text-align: center;
  
  color:#654F6F;
}

.headGroup h1{
  padding-top: 30px;
  font-size: 50pt;
  font-family: 'Alfa Slab One', cursive;
}
.headGroup h2{
  font-size: 20pt;
  font-family: 'Gloria Hallelujah', cursive;
}
main{
  background-color: #A8C69F ;
  color: #5C5D8D;
}

#headOne{
  text-align: center;
  font-size: 15pt;
  padding-top: 10px;
  font-family: 'Alfa Slab One', cursive;
}
#parOne{
  padding-top:10px;
  height: 50px;
  width: 1000px;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  margin-left: 450px;
  line-height: 30px;
}
img{
  border:1px solid black;
  height: 400px;
  width: 400px;
 margin-left: 175px; 
  
}
#mall{
  margin-top: 30px;
  
}
#results{
  font-family: 'Gloria Hallelujah', cursive;
 text-align: center;
  margin-top: 20px;
}
canvas{
  width: 600px;
}